@{ 
    ViewBag.Title = "Home Page";
    Layout = "_Layout";
}
<h1>jddc TheWorld 2.0</h1>
<p>The future home of jddc TheWorld v2.0!</p>

<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div><input type="submit" value="Add" /></div>
</form>
